/*----------Webfonts----------*/
@font-face {
  font-family: "shrikhandregular";
  src: url("../webfonts/shrikhand-regular-webfont.eot");
  src: url("../webfonts/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../webfonts/shrikhand-regular-webfont.woff2") format("woff2"), url("../webfonts/shrikhand-regular-webfont.woff") format("woff"), url("../webfonts/shrikhand-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("webfonts/Roboto-Regular-webfont.eot");
  src: url("../webfonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../webfonts/Roboto-Regular-webfont.woff2") format("woff2"), url("../webfonts/Roboto-Regular-webfont.woff") format("woff"), url("../webfonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../webfonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.header {
  height: 450px;
}
.header__logo {
  position: relative;
  top: -10px;
  text-align: center;
  margin: 0 50px;
}
.header__logo img {
  width: 180px;
  height: auto;
  padding-bottom: 10px;
}
.header__back {
  position: relative;
  font-size: 20px;
  left: 20px;
  top: 35px;
}
.header__back a {
  color: #000;
}
.header__banner img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  margin-top: -20px;
}
.header__title {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0 25px;
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  top: -40px;
}
.header__title h1 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header__title i {
  padding-top: 3px;
  font-size: 24px;
  font-weight: 100;
  cursor: pointer;
}
.header__title i:hover:before {
  transition: all 500ms ease-in-out;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 0 0 10px 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
footer h2 {
  font-family: "shrikhandregular";
  font-size: 1.4em;
  padding: 20px 0 0 20px;
  margin: 0;
  font-weight: 300;
}
footer ul {
  list-style-type: none;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
footer ul li {
  padding-bottom: 5px;
}
@media (min-width: 768px) {
  footer ul li {
    margin-right: 20px;
  }
}
@media (min-width: 768px) {
  footer ul {
    flex-direction: row;
  }
}
footer a {
  text-decoration: none;
  color: #fff;
  transition: all 500ms;
}
footer a:hover {
  color: #ae80e5;
}
footer span {
  padding-right: 10px;
}

/*--------General----------*/
body {
  margin: 0;
  background-color: #f6f6f6;
  box-sizing: border-box;
}

* {
  font-family: "robotoregular", sans-serif;
}

h1 {
  font-family: "shrikhandregular", sans-serif;
}

main {
  background-color: #f6f6f6;
}

/*--------Menu----------*/
@media (min-width: 992px) {
  .all__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.menu h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  margin-left: 5%;
  padding-bottom: 2px;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
}

.menu-container {
  background-color: #fff;
  border-radius: 15px;
  margin: 15px;
  height: 70px;
  cursor: pointer;
  box-shadow: 5px 5px 5px #eaeaea;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  animation: appear 1350ms forwards;
  transform-origin: top;
  opacity: 0;
}
.menu-container:hover > .menu-check {
  width: 70px;
  animation: slide 500ms linear;
  transform-origin: right;
}
.menu-container:hover > .menu-check span {
  transform: rotate(1turn);
}
@media (min-width: 992px) {
  .menu-container:hover > .menu-check {
    width: 100%;
  }
}
.menu-container--1 {
  animation-delay: 150ms;
}
.menu-container--2 {
  animation-delay: 300ms;
}
.menu-container--3 {
  animation-delay: 450ms;
}
.menu-container--4 {
  animation-delay: 600ms;
}
.menu-container--5 {
  animation-delay: 750ms;
}
.menu-container--6 {
  animation-delay: 900ms;
}
.menu-container--7 {
  animation-delay: 1050ms;
}
.menu-container--8 {
  animation-delay: 1200ms;
}
.menu-container--9 {
  animation-delay: 1350ms;
}
.menu-container--10 {
  animation-delay: 525ms;
}

@keyframes appear {
  from {
    transform: scaley(1) translatey(50%);
  }
  to {
    transform: scaley(1) translatey(0);
    opacity: 1;
  }
}
.menu-card {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px 15px;
}
.menu-card__title {
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card__bottom {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card__description {
  font-size: 14px;
}
.menu-card__price {
  font-weight: bold;
  font-size: 15px;
  padding-right: 10px;
}
@media (min-width: 992px) {
  .menu-card {
    min-width: 250px;
  }
}

/*----------Slide Check----------*/
.menu-check {
  width: 0%;
  height: 70px;
  font-size: 22px;
  background-color: #99E2D0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
}
.menu-check span {
  overflow: hidden;
  display: block;
  transform: rotate(0turn);
  transition: transform 300ms ease-in-out 150ms;
}
.menu-check:hover {
  border-radius: 0 15px 15px 0;
  animation: slide 500ms linear;
}
.menu-check:hover span {
  transform: rotate(1turn);
}
.menu-check:not(:hover) {
  animation: slide-return 300ms linear;
  border-radius: 0 15px 15px 0;
}

@keyframes slide {
  0% {
    width: 0%;
  }
  100% {
    width: 70px;
  }
}
@keyframes slide-return {
  0% {
    width: 70px;
  }
  100% {
    width: 0%;
  }
}
/*----------Order Button----------*/
.button {
  width: 200px;
  text-align: center;
  padding: 12px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  background-color: #FF79DA;
  color: #fff;
  cursor: pointer;
  box-shadow: 5px 5px 5px #dddddd;
  transform: scale(1);
  transition: all 500ms;
}
.button:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 5px #808080;
  background: linear-gradient(#ff93e1, #a16be0);
}

/*# sourceMappingURL=style-rest.css.map */
