/*----------Webfonts----------*/
@font-face {
  font-family: "shrikhandregular";
  src: url("../webfonts/shrikhand-regular-webfont.eot");
  src: url("../webfonts/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../webfonts/shrikhand-regular-webfont.woff2") format("woff2"), url("../webfonts/shrikhand-regular-webfont.woff") format("woff"), url("../webfonts/shrikhand-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("webfonts/Roboto-Regular-webfont.eot");
  src: url("../webfonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../webfonts/Roboto-Regular-webfont.woff2") format("woff2"), url("../webfonts/Roboto-Regular-webfont.woff") format("woff"), url("../webfonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../webfonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.header {
  height: 450px;
  background-color: #f6f6f6;
}
.header__logo {
  position: relative;
  top: -10px;
  text-align: center;
  margin: 0 50px;
}
.header__logo img {
  width: 180px;
  height: auto;
  padding-bottom: 10px;
}
.header__back {
  position: relative;
  font-size: 20px;
  left: 20px;
  top: 35px;
}
.header__back a {
  color: #000;
}
.header__banner img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  margin-top: -20px;
}
.header__title {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0 25px;
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  top: -35px;
}
.header__title h1 {
  font-size: 1.8rem;
  margin-top: 0;
}
.header__title i {
  padding-top: 3px;
  font-size: 24px;
  font-weight: 100;
  cursor: pointer;
}
.header__title i:hover:before {
  transition: all 500ms ease-in-out;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 0 0 10px 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
footer h2 {
  font-family: "shrikhandregular";
  font-size: 1.4em;
  padding: 20px 0 0 20px;
  margin: 0;
  font-weight: 300;
}
footer ul {
  list-style-type: none;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
footer ul li {
  padding-bottom: 5px;
}
@media (min-width: 768px) {
  footer ul li {
    margin-right: 20px;
  }
}
@media (min-width: 768px) {
  footer ul {
    flex-direction: row;
  }
}
footer a {
  text-decoration: none;
  color: #fff;
  transition: all 500ms;
}
footer a:hover {
  color: #ae80e5;
}
footer span {
  padding-right: 10px;
}

/*--------General----------*/
body {
  margin: 0;
  /* box-sizing: border-box; */
}

* {
  font-family: "robotoregular", sans-serif;
}

h1 {
  font-family: "shrikhandregular", sans-serif;
}

main {
  background-color: #f6f6f6;
}

/*--------Menu----------*/
.menu h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  margin-left: 5%;
  padding-bottom: 2px;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
}

.menu-container {
  background-color: #fff;
  padding: 10px 3% 10px 3%;
  border-radius: 15px;
  margin: 10px 5% 15px 5%;
  height: 50px;
  cursor: pointer;
  box-shadow: 5px 5px 5px #eaeaea;
  display: flex;
  justify-content: space-between;
}

.menu-card {
  flex: 2;
}
.menu-card__title {
  font-weight: bold;
  padding-bottom: 5px;
}
.menu-card__bottom {
  display: flex;
  justify-content: space-between;
}
.menu-card__description {
  font-size: 0.9em;
}
.menu-card__price {
  font-weight: bold;
  font-size: 0.9em;
  padding-right: 10px;
}

.menu-check {
  width: 0%;
  height: 70px;
  margin: 0;
  padding: 0;
  background-color: #99E2D0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: transform 1000ms ease-in-out;
}
.menu-check span {
  display: block;
  transform: rotate(0turn);
  transition: transform 300ms ease-in-out 150ms;
}
.menu-check:hover {
  width: 45px;
  /* transform: translateX(-45px); */
}
.menu-check:hover span {
  transform: rotate(1turn);
}

/*----------Button----------*/
.button {
  width: 200px;
  text-align: center;
  padding: 12px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  background-color: #FF79DA;
  color: #fff;
  cursor: pointer;
  box-shadow: 5px 5px 5px #dddddd;
  transform: scale(1);
  transition: all 500ms;
}
.button:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 5px #808080;
  background: linear-gradient(#ff93e1, #a16be0);
}

/*# sourceMappingURL=style-rest.css.map */
