/*----------Webfonts----------*/
@font-face {
  font-family: "shrikhandregular";
  src: url("../webfonts/shrikhand-regular-webfont.eot");
  src: url("../webfonts/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../webfonts/shrikhand-regular-webfont.woff2") format("woff2"), url("../webfonts/shrikhand-regular-webfont.woff") format("woff"), url("../webfonts/shrikhand-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("webfonts/Roboto-Regular-webfont.eot");
  src: url("../webfonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../webfonts/Roboto-Regular-webfont.woff2") format("woff2"), url("../webfonts/Roboto-Regular-webfont.woff") format("woff"), url("../webfonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../webfonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
footer {
  background-color: #353535;
  color: #fff;
  padding: 0 0 10px 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
footer h2 {
  font-family: "shrikhandregular";
  font-size: 1.4em;
  padding: 20px 0 0 20px;
  margin: 0;
  font-weight: 300;
}
footer ul {
  list-style-type: none;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
footer ul li {
  padding-bottom: 5px;
}
@media (min-width: 768px) {
  footer ul li {
    margin-right: 20px;
  }
}
@media (min-width: 768px) {
  footer ul {
    flex-direction: row;
  }
}
footer a {
  text-decoration: none;
  color: #fff;
  transition: all 500ms;
}
footer a:hover {
  color: #ae80e5;
}
footer span {
  padding-right: 10px;
}

.container-loader {
  background-color: #f6f6f6;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 32px;
  font-family: "shrikhandregular", sans-serif;
  color: #000;
}

.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.loader-circles {
  border-radius: 50px;
  border: 5px solid transparent;
  border-top-color: #9356DC;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1200ms linear infinite;
}

.loader-circles::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 50px;
  border: 5px solid transparent;
  border-top-color: #FF79DA;
  opacity: 0.8;
  -webkit-animation: spin 1600ms linear infinite;
}

.loader-circles::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border-radius: 50px;
  border: 5px solid transparent;
  border-top-color: #99E2D0;
  opacity: 0.5;
  -webkit-animation: spin 2000ms linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*----------General----------*/
h1 {
  font-family: "shrikhandregular", sans-serif;
}

p, a, span, input, h2, h3, h4, h5, h6 {
  font-family: "robotoregular", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

/*----------Header----------*/
.logo {
  text-align: center;
}

.logo img {
  width: 150px;
  height: auto;
}
@media (min-width: 768px) {
  .logo img {
    width: 225px;
  }
}
@media (min-width: 992px) {
  .logo img {
    width: 300px;
  }
}

/*----------Location----------*/
.location {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.location__search {
  background-color: #eaeaea;
  border-top: 2px solid rgba(128, 128, 128, 0.33);
  font-size: 14px;
  text-align: center;
  padding: 10px 0 10px 0;
  width: 100%;
  margin: auto;
}
.location__search label {
  font-size: 16px;
  padding-right: 10px;
  margin-left: 50px;
}
.location__search input {
  background-color: #eaeaea;
  border: none;
  font-size: 16px;
}
.location__heading {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0%;
  margin-left: 15%;
  margin-right: 15%;
}
.location__heading p {
  margin-bottom: 0;
}
.location__slogan {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  color: gray;
  padding-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}
.location__button {
  padding: 12px;
  border-radius: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  background-color: #FF79DA;
  color: #fff;
  cursor: pointer;
  box-shadow: 5px 5px 5px #dddddd;
  transform: scale(1);
  transition: all 500ms;
}
.location__button:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 5px #808080;
  background: linear-gradient(#ff93e1, #a16be0);
}

input:focus {
  outline: none;
}

/*----------Working----------*/
.working__container {
  padding: 20px 0 20px 0;
}
.working__container h2 {
  padding-left: 5%;
}
@media (min-width: 768px) {
  .working__container h2 {
    padding-left: 0;
    text-align: center;
  }
}

.working__step {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .working__step {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 992px) {
  .working__step {
    justify-content: space-around;
  }
}

.working {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  padding: 20px 0 20px 0;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eaeaea;
  width: 100%;
  max-width: 500px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 500ms ease-in-out;
}
@media (min-width: 992px) {
  .working {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    max-width: 350px;
  }
}
.working:hover {
  transform: scale(1.05);
  background-color: #f2eafb;
  box-shadow: 5px 5px 5px #808080;
}
.working:hover .working__fas {
  color: #9356DC;
}
.working__number {
  height: 24px;
  width: 27px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
  text-align: center;
  position: relative;
  right: 10px;
  padding-top: 3px;
}
.working__fas {
  color: #7e7e7e;
  font-size: 18px;
  padding: 0 25px 0 15px;
}

/*----------Restaurants----------*/
.restaurants-container {
  background: #f6f6f6;
  padding: 20px 0 20px 0;
}
.restaurants-container h2 {
  margin-left: 5%;
}
@media (min-width: 768px) {
  .restaurants-container h2 {
    margin-left: 0;
    text-align: center;
  }
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
}
@media (min-width: 768px) {
  .restaurants-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.card {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 30px;
  box-shadow: 5px 5px 3px #eaeaea;
  transform: scale(1);
  transition: transform 500ms ease-in-out;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 5px #808080;
}
@media (min-width: 768px) {
  .card {
    margin: 0 3% 30px 3%;
  }
}
@media (min-width: 992px) {
  .card {
    margin: 0 1% 30px 1%;
  }
}
.card a {
  text-decoration: none;
  color: #000;
  font-size: 0.9em;
}
.card__image img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.card__image--1 img {
  object-position: 50% 75%;
}
.card__image--2 img {
  object-position: 50% 60%;
}
.card__image--3 img {
  object-position: 50% 80%;
}
.card__image--4 img {
  object-position: 50% 70%;
}
.card__new {
  background-color: #99E2D0;
  width: 70px;
  padding: 5px 8px;
  position: relative;
  top: -205px;
  left: 90px;
  text-align: center;
}
.card__new span {
  color: #278870;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.card__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}
.card__left {
  padding-left: 20px;
}
.card__title h3 {
  margin: 10px 0 0 0;
  font-size: 18px;
}
.card__place {
  padding-top: 5px;
}
.card__place p {
  font-size: 16px;
  margin-top: 0;
}
.card__like i {
  font-weight: 100;
  font-size: 28px;
  padding: 5px;
  margin: 10px 15px 25px 10px;
  cursor: pointer;
}
.card__like i:hover::before {
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  transition: all 500ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
