@import "./base/typography";
@import "./utils/variables";
@import "./utils/mixin";
@import "./layouts/header";
@import "./layouts/footer";


/*--------General----------*/

body {
    margin: 0;
    background-color: $color-lite-gray;
    box-sizing: border-box;
}
* {
    font-family: 'robotoregular', sans-serif;
}
h1 {
    font-family: 'shrikhandregular', sans-serif ;
}
main {
    background-color: $color-lite-gray;
}
/*--------Menu----------*/

.menu {
    & h2 {
        font-size: 1.2em;
        text-transform: uppercase ;
        margin-left: 5%;
        padding-bottom: 2px;
        border-bottom: 3px solid $color-tertiary;
        width: 50px;
    }
}

.menu-container {
    background-color: $color-white;
    border-radius: 15px;
    margin: 15px;
    height: 70px;
    cursor: pointer;
    box-shadow: 5px 5px 5px $color-lite-gray-2;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    &:hover > .menu-check{
        width:70px;
        animation: slide 500ms linear;
        transform-origin:right;
        span{
            transform:rotate(1turn);
            }
    }
}

.menu-card{
    width: 100%;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    padding: 5px 15px;
    &__title {
        font-size: 18px;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 3px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }
    &__description {
        font-size: 14px;
    }
    &__price {
        font-weight: bold;
        font-size: 16px;
        padding-right: 10px;
    }
}

/*----------Slide Check----------*/

.menu-check {
    width: 0%;
    height: 70px;
    font-size: 22px;
    background-color: $color-tertiary;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    span {
        overflow: hidden;
        display:block;
        transform:rotate(0turn);
        transition:transform 300ms ease-in-out 150ms; 
    }
    &:hover {
        width: 70px;
        max-width: 70px;
        border-radius: 0 15px 15px 0;
        animation: slide 500ms linear;
        span {
            transform:rotate(1turn);
        }
    }
    &:not(:hover){
        animation: slide-return 300ms linear;
        border-radius: 0 15px 15px 0;
    }
}
@keyframes slide{
    0%{ 
        width:0%;
    }
    100%{
        width:70px;
    }
}

@keyframes slide-return{
    0%{
        width:70px;
    }
    100%{
        width:0%;
    }
}


/*----------Order Button----------*/
.button {
    width: 200px;
    text-align: center;
    padding: 12px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
    background: linear-gradient($color-secondary, $color-primary);
    background-color: $color-secondary;
    color: $color-white;
    cursor: pointer;
    box-shadow: 5px 5px 5px $color-middle-gray;
    transform: scale(1);
    transition: all 500ms;
    &:hover {
        transform: scale(1.05);
        box-shadow: 5px 5px 5px $color-gray; 
        background: linear-gradient(lighten($color-secondary, 5%), lighten($color-primary, 5%));
    }
}