@import "./base/typography";
@import "./utils/variables";
@import "./utils/mixin";
@import "./layouts/footer";



/*----------General----------*/


h1 {
    font-family: 'shrikhandregular', sans-serif ;
}

p, a, span, input, h2, h3, h4, h5, h6 {
    font-family: 'robotoregular', sans-serif;
}

body {
    margin: 0;
    box-sizing: border-box;
}

/*----------Header----------*/

.logo {
    text-align: center;
}
.logo img {
    width: 150px;
    height: auto;
    @include medium {
        width: 225px;
    }
    @include large {
        width: 300px;
    }
}

/*----------Location----------*/

.location {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    &__search {
        background-color: #eaeaea;
        border-top: 2px solid rgba(128, 128, 128, 0.33);
        font-size: 14px;
        text-align: center;
        padding: 10px 0 10px 0;
        width: 100%;
        margin: auto;
    }
    &__search label {
        font-size: 16px;
        padding-right: 10px;
        margin-left: 50px;
    }
    &__search input {
        background-color: #eaeaea;
        border: none;
        font-size: 16px;
    }
    &__heading {
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 0%;
        margin-left: 15%;
        margin-right: 15%;
    }
    &__heading p{
        margin-bottom: 0;
    }
    &__slogan {
        text-align: center;
        font-size: 16px;
        font-weight: normal;
        color:rgba(128, 128, 128);
        padding-bottom: 20px;
        margin-left: 10%;
        margin-right: 10%;
    }
    &__button {
        padding: 12px;
        border-radius: 20px;
        background: linear-gradient($color-secondary, $color-primary);
        background-color: $color-secondary;
        color: $color-white;
        cursor: pointer;
        box-shadow: 5px 5px 5px $color-middle-gray;
        transform: scale(1);
        transition: all 500ms;
        &:hover {
            transform: scale(1.05);
            box-shadow: 5px 5px 5px $color-gray; 
            background: linear-gradient(lighten($color-secondary, 5%), lighten($color-primary, 5%));
        }
    }
}

input:focus {
    outline: none;
}


/*----------Working----------*/

.working__container {
    margin: auto;
    & h2 {
        padding-left: 5%;
        @include medium {
            padding-left: 0;
            text-align: center;
        }
    }
}

.working__step {
    display: flex;
    flex-direction: column;
    @include medium {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.working {
    display: flex;
    flex-direction: row;
    background-color: $color-lite-gray;
    padding: 20px 0 20px 0;
    margin: 0 10% 30px 5%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eaeaea;
    width: 350px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 500ms;
        @include medium {
            width: 300px;
            margin: 0 3% 30px 3%;
        }
    &:hover{
        transform: scale(1.05);
        background-color: lighten($color-primary, 35%);
        box-shadow: 5px 5px 5px $color-gray;
    }
    &:hover &__fas{
        color: $color-primary;
    }
    &__number {
        height: 24px;
        width: 27px;
        border-radius: 50%;
        background-color: $color-primary;
        color:$color-white;
        text-align: center;
        position : relative;
        right: 10px;
        padding-top: 3px;
    }
    &__fas {
        color: #7e7e7e;
        font-size: 18px;
        padding: 0 25px 0 15px;
    }
}

/*----------Restaurants----------*/
.restaurants-container {
    background: #f6f6f6;
    padding: 20px 0 20px 0;
    & h2 {
        margin-left: 5%;
        @include medium {
            margin-left: 0;
            text-align: center;
        }
    }
}

.restaurants-cards {
    display: flex;
    flex-direction: column;
    @include medium {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.card {
    width: 350px;
    background-color: $color-white;
    border-radius: 20px;
    margin-left: 5%;
    margin-bottom: 30px;
    box-shadow: 5px 5px 3px #eaeaea;
    transform: scale(1);
    transition: transform 500ms;
    &:hover {
        transform: scale(1.05);
        box-shadow: 5px 5px 5px $color-gray;
    }
    @include medium {
        margin: 0 3% 30px 3%;
    }
    @include large {
        margin: 0 1% 30px 1%;
    }
    & a {
        text-decoration: none;
        color: $color-black;
        font-size: 0.9em;
    }
    &__image img {
        width: 350px;
        height: 200px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
        object-position: 50% 80%;
    }
    &__new {
        background-color: $color-tertiary;
        width: 70px;
        padding: 5px 8px;
        position: relative;
        top: -205px;
        left: 65px;
        text-align: center;
    }
    &__new span {
        color: darken($color-tertiary, 40%);
        font-weight: 600;
        margin: 0;
        padding: 0;

    }
    &__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5px;
    }
    &__left {
        padding-left: 20px;
    }
    &__title h3 {    
        margin: 10px 0 0 0;
        font-size: 16px;
    }
    &__place p {
        margin-top: 0;
        font-size: 1em;
    }
    &__like i {
        font-weight:100;
        font-size: 28px;
        padding: 5px;
        margin: 10px 15px 25px 10px;
        cursor: pointer;
            &:hover::before { 
            background-image: linear-gradient($color-primary, $color-secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight:bold;
            transition: all 500ms ease-in-out;
        }
    }    
}