@import "./base/typography";
@import "./utils/variables";
@import "./layouts/footer";



/*----------General----------*/

h1 {
    font-family: 'shrikhandregular', sans-serif ;
}

p, a, span, input, h2, h3, h4, h5, h6 {
    font-family: 'robotoregular', sans-serif;
}

body {
    margin: 0;
}

/*----------Header----------*/

.logo {
    text-align: center;
}
.logo img {
    width: 150px;
    height: auto;
}

/*----------Button----------*/

.btn {
    padding: 12px;
    border-radius: 20px;
    background: linear-gradient($color-secondary, $color-primary);
    color: $color-white;
    cursor: pointer;
    box-shadow: 4px 4px 4px $color-middle-gray;
    &:hover {
        box-shadow: 4px 4px 4px darken($color-middle-gray, 15%); 
        background: linear-gradient(lighten($color-secondary, 5%), lighten($color-primary, 5%));
    }
}

/*----------Location----------*/

.location {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.location__search {
    background-color: #eaeaea;
    border-top: 2px solid rgba(128, 128, 128, 0.33);
    font-size: 14px;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 100%;
    margin: auto;
}

.location__search label {
    font-size: 16px;
    padding-right: 10px;
    margin-left: 50px;
}

.location__search input {
    background-color: #eaeaea;
    border: none;
    font-size: 16px;
}

input:focus {
    outline: none;
}

.location__heading {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0%;
    margin-left: 15%;
    margin-right: 15%;
}
.location__heading p{
    margin-bottom: 0;
}

.location__slogan {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color:rgba(128, 128, 128);
    padding-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

/*----------Working----------*/

.working__container {
    margin: auto;
    display: flex;
    flex-direction: column;
    @media (min-width: 769px) {
        flex-wrap: wrap;
        flex-direction: row;
    }
    & h2 {
        padding-left: 5%;
    }
}

.working {
    display: flex;
    flex-direction: row;
    background-color: $color-lite-gray;
    padding: 20px 0 20px 0;
    margin: 0 10% 30px 10%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eaeaea;
    max-width: 350px;
    cursor: pointer;
    &:hover{
        background-color: lighten($color-primary, 35%);
    }
    &:hover &__fas{
        color: $color-primary;
    }
    &__number {
        height: 24px;
        width: 27px;
        border-radius: 50%;
        background-color: $color-primary;
        color:$color-white;
        text-align: center;
        position : relative;
        right: 10px;
        padding-top: 3px;
    }
    &__fas {
        color: #7e7e7e;
        font-size: 18px;
        padding: 0 25px 0 15px;
    }
}
/* .fa-mobile-alt:hover {
    color: $color-primary;
}
.fa-store:hover {
    color: $color-primary; 
}
.fa-list-ul:hover {
    color: $color-primary;
} */

/*----------Restaurants----------*/
.container-restaurants {
    background: #f6f6f6;
    padding: 20px 0 20px 0;
    & h2 {
        padding-left: 5%;
    }
}

.card {
    width: 350px;
    background-color: $color-white;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 5px 5px 3px #eaeaea;
    & a {
        text-decoration: none;
        color: $color-black;
        font-size: 0.9em;
    }
    &__image img {
        width: 350px;
        height: 200px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
        object-position: 50% 80%;
    }
    &__new {
        background-color: $color-tertiary;
        width: 70px;
        padding: 5px 8px;
        position: relative;
        top: -205px;
        left: 65px;
        text-align: center;
    }
    &__new span {
        color: darken($color-tertiary, 40%);
        font-weight: 600;
        margin: 0;
        padding: 0;

    }
    &__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5px;
    }
    &__left {
        padding-left: 20px;
    }
    &__title h3 {    
        margin: 10px 0 0 0;
        font-size: 16px;
    }
    &__place p {
        margin-top: 0;
        font-size: 1em;
    }
    &__like {
        font-size: 22px;
        padding-right: 30px;
    }
}