$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #fff;
$color-black: #000;
$color-gray: #808080;
$color-lite-gray: #f6f6f6;
$color-lite-gray-2: #eaeaea;
$color-middle-gray: #dddddd;
$color-dark-gray: #353535;
