footer {
background-color: $color-dark-gray;
color: $color-white;
padding: 0 0 10px 0;
display: flex;
flex-direction: column;
    @include medium {
        flex-direction: row;
        justify-content: space-between;
    }

    & h2 {
    font-family: 'shrikhandregular';
    font-size: 1.4em;
    padding: 20px 0 0 20px;
    margin: 0;
    font-weight: 300;
    }
    & ul {
    list-style-type: none;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
        & li {
            padding-bottom: 5px;
            @include medium {
                margin-right: 20px;
            }
        }
    @include medium {
        flex-direction: row;
        }
    }
    & a {
    text-decoration: none;
    color: $color-white;
        &:hover {
            color: lighten($color-primary, 10%);
        }
    }
    & span {
        padding-right: 10px;
    }
}