.header {
    background-color: $color-lite-gray;
    &__logo {
        position: relative;
        top: -10px;
        text-align: center;
        margin : 0 50px;
    }
    &__logo img {
        width: 150px;
        height: auto;
    }
    &__back {
        position: relative;
        left: 15px;
        top: 30px;
    }
    &__back a {
        color: $color-black;
    }
}